body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-container{
  display: inline-block;
  margin-top: 110px;
    margin-right: 25px;

}
.button{
  width: 150px;
  height: 40px;
}
.modal-container{
 
  position: absolute;
  top: 30%;
  left: calc(50%/2);
  background: red;
  width: 740px;
  height: 340px;
}
.modal {
  background: grey;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
}
.modal-header{
  background: rgba(0,0,0,0.3);
  height: 70px;
  margin-top: -22px;
}
span::after{
  position: absolute;
  top: 6px;
  right: 36px;
  content: '';
  border-left: 4px solid;
  height: 38px;
  background: black;
  rotate: 45deg;

}
span::before{
  position: absolute;
  top: 6px;
  right: 36px;
  content: '';
  border-left: 4px solid;
  height: 38px;
  background: black;
  rotate: -45deg;
}
span{
  width: 57px;
  height: 50px;
  display: block;
  position: absolute;
  top: 3px;
  right: 9px;
}
