.header{
  position: fixed;
  top: 0;
  
  width: 100%;
  height: 60px;
  background-color: #eee;
  display: flex;
  justify-content: flex-end;
  // position: relative;
  .star{
    width: 46px;
    height: 40px;
  }
  .star-calk{
    position: absolute;
    top: 0;
    right: 90px;
  }
  img{
    margin:10px 20px;
    height: 40px;
    width: 40px;
  
  }
  .calk{
    position: absolute;
    top: 0;
    right: 10px;
  }
}