.wrapper{
  display: grid;
  grid-template-columns: 4fr;
  width: 350px;
  min-height: 400px;
  border: 1px solid rgb(170, 170, 170);
  background-color: #eee;
  border-radius: 10px;
  img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  min-height: 230px;
  height: 230px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}
.container-for__name{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  width: 100%;
}
.barcode{
  font-size: 10px;
  color: rgb(182, 181, 181);
}
.name-album{
  text-transform: uppercase;
  font-weight: bold;
}
.footer-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 15px;
}
.coast{
  font-size: 16px;
  font-weight: bold;

}
.descriptions{
  font-size: 16px;
  color: rgb(71, 71, 71);
  margin-left: 20px;
}
}
.card-wrap{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 15px;
padding: 20px;
margin-top: 50px;
}